* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;

  /* bloquear seleção e aquele azul feio */
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

body {
  min-height: 100vh;
  background: #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* permitir digitar normalmente */
input {
  -webkit-user-select: text;
  user-select: text;
}

.login-container {
  width: 320px;
  text-align: center;
}

.logo {
  width: 140px;
  height: 140px;
  margin: 0 auto 15px;
  display: block;
  border-radius: 50%;
  object-fit: cover;

  box-shadow:
    0 0 15px rgba(255, 0, 150, 0.6),
    0 0 35px rgba(255, 0, 150, 0.3);

  border: 2px solid rgba(255, 0, 150, 0.7);
}

h1 {
  font-size: 26px;
  color: #ff4fa3;
  text-shadow: 0 0 10px rgba(255,0,150,.4);
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: #0f0f0f;
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
}

input::placeholder {
  color: #777;
}

button {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: #ff4fa3;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;

  box-shadow:
    0 0 15px rgba(255,0,150,.4);
}

button:active {
  transform: scale(0.98);
}

.buy {
  margin-top: 15px;
  font-size: 13px;
  color: #aaa;
}

.buy a {
  color: #00ff88;
  text-decoration: none;
}

/* ===== POPUP ===== */

#popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: #111;
  padding: 25px;
  border-radius: 14px;
  width: 90%;
  max-width: 300px;
  text-align: center;

  box-shadow:
    0 0 25px rgba(0,0,0,.9),
    0 0 25px rgba(255,0,150,.3);
}

.popup-box h2 {
  color: #ff4fa3;
  margin-bottom: 10px;
}

.popup-box p {
  font-size: 14px;
  margin-bottom: 15px;
}

.popup-box button {
  background: #ff4fa3;
}